/* You can add global styles to this file, and also import other style files */
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(14, 44, 51);
}

strong {
    font-weight: bold;
    color: rebeccapurple;
}